@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:200,200i,300,300i,400,400i,600,600i,700,700i,900');

body {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

.container {
    width: 100%;
    height: 100%;;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding: 50px !important;
}

.container h1 {
  font-weight: 100;
  font-size: 2.4rem;
}

.container h4 {
  font-weight: 300;
  font-size: 1.8rem;
}

.chat-header {
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  align-items: center;
  margin-bottom: 16px;
}

.chatbox-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
  border: 1px solid #CFCFCF;
  background-color: #FDFAFA;
}

#chatbox {
  width: 400px;
  height: 600px;
  font-family: 'Titillium Web', sans-serif;
  color: #C2D0D1;
  font-size: 20px;
  font-weight: 300;
  overflow-y: scroll;
  overflow-x: hidden;
}

.chatbox-input {
  width: 100%;
  display: flex;
  outline: none;
  align-items:center;
  border-top: 1px dashed #CFCFCF;
  justify-content: space-between;
  background-color: white;
}

#chatbox-input-text {
  outline: none;
  border: none;
  background-color: white;
  width: 100%;
  flex: 2;
  font-weight: 200;
  font-size: 1.2rem;
  padding: 8px;
  color: #575757;
}

.app-button {
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content:center;
  color: #575757;
  cursor: pointer;
}

.app-button:hover {
  color: rgb(172, 172, 172);
}

#chatbox-input-text::-webkit-input-placeholder {
  color: rgb(225, 217, 217);
  font-weight: 100;
  text-transform: uppercase;
  font-size: 16px;
}

#service-message-box {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  color: rgb(128, 177, 111);
  background-color: rgb(255, 250, 250);
  margin-bottom: 16px;
  border-bottom: 1px dashed rgba(0,0,0,0.1);
  padding:8px;
}

.warning-item {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  color: rgb(196, 107, 107);
}

.warning-item i {
  margin-right: 16px;
}

.message-list-item {
  list-style: none;
  width: 100%;
  margin-bottom: 20px;
}

.message-item-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 16px;
}

.message-item-container-text {
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
}

.message-item-container-text i {
    margin-right: 16px;
}

.message-item-container-time {
  font-size: 12px;
}
.location-item-container {

  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
}

.location-item-container-link {
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
}

.location-item-container:hover {
  padding-bottom: 4px;
  border-bottom:1px dotted rgba(0,0,0,0.4);
}

.location-item-container-link i {
  margin-right: 16px;
}