@import './main.css';


.chatbox-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
}

#chatbox {
  padding: 12px;
  width: 400px;
  height: 600px;
  font-family: 'Titillium Web', sans-serif;
  font-size: 20px;
  font-weight: 300;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-bottom: 4px;
  border: 1px solid #CFCFCF;
}

#service-message-box {
  position: fixed;
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight:300;
  font-size: 20px;
  height: 40px;
}

#message-form {
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#message-form-button-group {
  width:100px;
}

.warning-item {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  color: rgb(196, 107, 107);
}

.warning-item i {
  margin-right: 16px;
}

.message-list-item {
  list-style: none;
  width: 100%;
  margin-bottom: 20px;
}

.message-item-container, .location-item-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 16px;
}

.message-item-container-text {
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
}

.message-item-container-text i {
    margin-right: 16px;
}

.message-item-container-time {
  font-size: 12px;
}

.location-item-container-link {
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
}

.location-item-container-link:hover {
  border-bottom:1px dotted rgba(0,0,0,0.4);
  font-weight: 600;
}

.location-item-container-link i {
  margin-right: 16px;
}

.server-m {
  color: orange;
}

.app-button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.app-button i {
  color: white;
}